c chain4m_cross: cuatro bloques con varias cláusulas por bloque, numeración cruzada y cláusulas desordenadas
c bloques {1,8,5} {5,3,7} {7,9,2} {2,4,6}; separadores 5, 7, 2
p cnf 9 10
-7 9 2 0
1 8 5 0
3 -5 7 0
-2 4 6 0
-3 5 7 0
6 -4 2 0
-1 -8 5 0
-5 -3 -7 0
7 -9 -2 0
-4 -6 2 0
